Repository shahdivyank/speechmaster, pull requests merged in 2023-10, with the labels that each got.

#16 Body Checkboxes
  src/app/api/video/route.js
  src/app/live/page.js
  src/app/review/[id]/page.js
Labels: ready to merge, Live

#35 README
  README.md
Labels: ready to merge, Documentation

#50 display posture msgs
  src/app/live/page.js
  tailwind.config.js
Labels: ready to merge, Live

#52 Fix Leg Bug
  src/app/live/page.js
Labels: bug, Live

#54 fix emotional format
  src/app/live/page.js
  src/components/AudioAnalysis.jsx
Labels: ready to merge, HumeAI

#55 add socket disconnect
  src/app/join/[...id]/page.js
  src/app/live/page.js
Labels: ready to merge, Live

#56 Menthy/score
  prisma/migrations/20231029122326_changehume/migration.sql
  prisma/schema.prisma
  src/app/api/checks/route.js
  src/app/api/hume/route.js
  src/app/api/video/route.js
  src/app/api/videos/route.js
  src/app/dashboard/page.js
  src/app/live/page.js
  src/app/review/[id]/page.js
  src/components/BreakDown.jsx
  src/components/Checkbox.jsx
  src/components/Details.jsx
  src/components/Recording.jsx
  src/components/ToolBar.jsx
  src/components/VideoPlayer.jsx
  src/data/Breakdown.js
  src/data/Emotions.js
Labels: ready to merge, video

#58 Menthy/dashboard
  src/app/api/video/route.js
  src/app/dashboard/page.js
  src/app/live/page.js
  src/app/review/[id]/page.js
  src/components/BreakDown.jsx
  src/components/Postures.jsx
Labels: ready to merge, Dashboard

#59 Add Messaging Between Audience and Presenter
  src/app/join/[...id]/page.js
  src/app/live/page.js
  src/components/AudioAnalysis.jsx
  src/pages/api/socket.js
Labels: Live, video

#62 Menthy/dashboard
  src/app/api/checks/route.js
  src/app/api/hume/route.js
  src/app/api/outline/route.js
  src/app/api/posture/route.js
  src/app/dashboard/page.js
  src/components/Recording.jsx
Labels: Dashboard, Layout

#63 justify around
  src/app/live/page.js
Labels: Layout
